.footer {
  flex-direction: column;
  position: relative;
  width: 100%;
  margin-bottom: 104px;
  padding-right: $size-unit * 20; // 80px

  .footer-line {
    padding-bottom: 40px;
    border-bottom: 2px solid $white;
    opacity: 0.05;
  }

  p {
    @include caption;
  }

  .social-media {
    @include label-font;
  }

  .footer-logo {
    opacity: 0.5;
  }
}

.footer-section-info {
  margin-top: 53px;
}

.footer-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  p {
    @include caption;
  }

  .footer-info {
    width: 162px;

    h6 {
      @include label-font-sm;
      margin-bottom: $size-unit * 3; // 12px
    }

    p {
      @include caption;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .footer {
    padding-top: $size-unit * 10; // 40px

    .social-media {
      display: none;
    }
  }
}
@media (min-width: $breakpoint-sm) {
  .footer {
    padding-top: $size-unit * 37; // 148px
  }
}
@media (min-width: $breakpoint-md) {
  .footer {
    padding-top: $size-unit * 23; // 92px
  }
}

// .footer::before {
//   @include background-spot;
// }
