.footer {
  flex-direction: column;
  position: relative;
  width: 100%;
  padding-bottom: $size-unit * 26; // 104px
  padding-right: $size-unit * 20; // 80px

  .footer-line {
    padding-bottom: 3rem;
    border-bottom: $border-unit solid $white;
    opacity: 0.05;
  }

  p {
    @include caption;
  }

  .social-media {
    @include label-font;
  }

  .footer-logo {
    opacity: 0.5;
  }
}

.footer-section-info {
  margin-top: $size-unit * 13; // 52px
}

.footer-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  p {
    @include caption;
  }

  .footer-info {
    width: $size-unit * 40; // 162px

    h6 {
      @include label-font-sm;
      margin-bottom: $size-unit * 3; // 12px
    }

    p {
      @include caption;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .footer {
    padding-top: $size-unit * 10; // 40px

    .social-media {
      display: none;
    }
  }
}

@media (min-width: $breakpoint-sm) {
  .footer {
    padding-top: $size-unit * 37; // 148px
  }
}

@media (min-width: $breakpoint-md) {
  .footer {
    padding-top: $size-unit * 23; // 92px
    background-color: $black-60;
  }
}

// .footer::before {
//   @include background-spot;
// }
