.gallery {
  width: 100%;
  background-color: $white;
  position: relative;

  .header-wrap {
    width: 100%;
    padding-top: $size-unit * 46; // 184px
    padding-left: 15%;
    margin-bottom: $size-unit * 5; // 20px
    .icon {
      // display: inline-block;
      margin-right: $size-unit * 2; // 8px
    }

    .title {
      @include h4-font;
      color: $main-pink;
    }

    .header {
      margin-top: $size-unit * 3; //12px
      @include h2-font;
      color: $black;
      width: 100%;
    }
  }

  .gallery-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: $size-unit * 3; // 12px
    margin-bottom: $size-unit * 3; // 12px

    .gallery-item {
      padding-left: $size-unit * 5; // 20px

      img {
        width: 100%;
      }
    }
  }
}
