.hero {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: $layout-spacing-lg;
  position: relative;

  .hero-wrap {
    position: relative;
  }

  .image-hero {
    max-width: $size-unit * 161; // 644px
    margin-top: -150px;
    z-index: -20;
  }

  .hero-section {
    height: 100%;
  }

  .background-spot {
    @include background-spot-svg;
    right: 0;
  }

  // Background spot
  .section-description::before {
    @include background-spot;
    left: 0;
    top: -50%;
  }
}
