.label-sm {
  @include font-decoration-sm;
  position: absolute;
  z-index: 15;
  transform-origin: 0;
}

.label-sm::before {
  content: "Digital";
  @include font-decoration-lg;
  position: absolute;
  z-index: -10;
  --color-label-sm: $black;
  opacity: 0.25;
  transform-origin: 0;
}

.direction-top {
}

.direction-bottom {
}

.rotation-turn {
  transform: rotate(-90deg);
}

.rotation-smooth {
  transform: rotate(0deg);
}

.label-hero-1 {
  color: $black;
  bottom: -($size-unit * 17); // -68px
  left: $size-unit * 10; // 40px
}

.label-hero-2 {
  color: $white;
  top: $size-unit * 112; // 448px
  left: $size-unit * 159; // 636px;
}
.label-hero-2 + .label-sm::before {
  opacity: 0.03;
  --color-label-lg: $white;
}
