.products {
  position: relative;

  .image-product {
    img {
      width: 100%;
    }
  }

  .products-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
  }
}
