.products {
  position: relative;

  .image-product {
    img {
      width: 100%;
    }
  }

  .products-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;

    .products-items {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}
