.products {
  position: relative;

  .image-product {
    img {
      width: 100%;
    }
  }

  .products-section {
    margin-top: $size-unit * 20; // 80px
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .products-items {
      display: flex;
      flex-direction: column;

      .row {
        justify-content: center;
        margin-bottom: $size-unit * 12; // 48px
      }
    }
  }
}
