.services-preview {
  margin: $size-unit * 65 0; // 260px 0
  position: relative;

  .items {
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: space-between;
  }
}

// Background spot
.services-preview::before {
  @include background-spot;
  left: -30%;
  top: -50%;
}
