.social-media {
  display: flex;
  flex-direction: column;
  max-width: $size-unit * 4; // 16px
  cursor: pointer;


  &.position-row {
    flex-direction: row;
    cursor: pointer;

    li {
      margin-left: $size-unit * 6; // 24px
      a {
        cursor: pointer;
      }
    }
  }

  li {
    margin-bottom: $size-unit * 5; // 20px

    span {
      color: $white;
      opacity: 0.5;
    }
  }

  .social-media-line {
    text-align: center;
  }
}
